<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDark"
            data-bs-scroll="true" aria-controls="offcanvasDark">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar bg-light" style="width: 80vw;">
        <div class="container nav-container">

            <span class="navbar-brand mb-0 h2 justify-content-start fs-4">
                <a class="navbar-brand" href="#offcanvasDark" data-bs-toggle="offcanvas" role="button"
                    aria-controls="offcanvasDark">
                    <i class="bi bi-list popover-icon"></i>
                </a>
                Environmental Platform</span>
        </div>
    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-outline-secondary" placement="bottom-end"
            ngbPopover="No new notifications to show. Check back later.." popoverTitle="NOTIFICATIONS">
            <i class="bi bi-envelope popover-icon"></i>
        </button>&nbsp;

        <button type="button" class="btn btn-outline-secondary" placement="bottom"
            ngbPopover="Great!! You are caught with all.. Come back to see for any upcoming events in your calendar." 
            popoverTitle="EVENTS">
            <i class="bi bi-calendar2-x popover-icon"></i>
        </button>&nbsp;

        <button type="button" class="btn btn-outline-secondary" placement="bottom-end"
            [ngbPopover]="helpPopoverContent"
            popoverTitle="HELP" popoverClass="help-popover">
            <i class="bi bi-question popover-icon"></i>
        </button>&nbsp;

        <button type="button" class="btn btn-outline-secondary" placement="bottom-end"
            [ngbPopover]="accountPopoverContent" popoverTitle="DANIEL M. JONES">
            <i class="bi bi-person-fill popover-icon"></i>
        </button>

    </div>
</nav>
<app-side-nav id="#offcanvasDark"></app-side-nav>

<!-- Help Menu -->
<ng-template #helpPopoverContent>
    <app-help></app-help>
</ng-template>

<!-- Account Menu -->
<ng-template #accountPopoverContent>
    <app-account></app-account>
</ng-template>