<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDark"
            data-bs-scroll="true" aria-controls="offcanvasDark">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar bg-light" style="width: 90%;">
        <div class="container" tyle="width: 85%;text-align: left;">

            <span class="navbar-brand mb-0 h2 justify-content-start fs-4">
                <a class="navbar-brand" href="#offcanvasDark" data-bs-toggle="offcanvas" role="button"
                    aria-controls="offcanvasDark">
                    <i class="bi bi-list" style="font-size: 1.5rem;"></i>
                </a>
                Environmental Platform</span>
        </div>
    </div>
    <div>
        <i class="bi bi-envelope" style="font-size: 1.5rem;"></i>&nbsp;
        <i class="bi bi-calendar2-x" style="font-size: 1.5rem;"></i>&nbsp;
        <i class="bi bi-question" style="font-size: 1.5rem;"></i>&nbsp;
        <i class="bi bi-person-fill" style="font-size: 1.5rem;"></i>
    </div>
</nav>
<app-side-nav id="#offcanvasDark"></app-side-nav>