<div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDark"
    aria-labelledby="offcanvasDarkLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkLabel">Environmental Platform</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li aria-current="page">
              <i class="caret"></i>Task Center
              <ul class="navbar-nav mb-4 mb-lg-2">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="#">Task 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="#">Task 2</a>
                </li>
              </ul>
              <a class="nav-link" aria-current="page" routerLink="#">Task Center</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="#">Event Calendar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Communications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Record History</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Directory</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="#">Permissions</a>
            </li>
          </ul>


    </div>
</div>