<div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true"  tabindex="-1" id="offcanvasDark"
    aria-labelledby="offcanvasDarkLabel">
    <div class="offcanvas-header">
        <i class="bi bi-list navbar-toggler-icon"></i>&nbsp;
        <h5 class="offcanvas-title fs-4" id="offcanvasDarkLabel">Environmental Platform</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item fs-5">
                <a data-toggle="collapse" aria-expanded="false" 
                (click)="isTaskCenterCollapsed = !isTaskCenterCollapsed"
                    class="dropdown-toggle">
                    Task Center
                </a>
                <ul [ngClass]="{'collapse ': isTaskCenterCollapsed,
            'expanded': !isTaskCenterCollapsed}" class="list-unstyled components ps-4 mb-2 mb-lg-0 fs-6">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/my-tasks']">My Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/templates']">Templates</a>
                    </li>
                </ul>
            </li>            <li class="nav-item fs-5">
                <a class="nav-link" [routerLink]="['/event-calendar']">Event Calendar</a>
            </li>

            <li class="nav-item fs-5">
                <a data-toggle="collapse" aria-expanded="false"
                    (click)="isCommunicationsCollapsed = !isCommunicationsCollapsed" class="dropdown-toggle">
                    Communications</a>
                <ul [ngClass]="{'collapse ': isCommunicationsCollapsed,
            'expanded': !isCommunicationsCollapsed}" class="list-unstyled components ps-4 mb-2 mb-lg-0 fs-6"
                    id="communications">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/notifications']">Notifications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/messages']">Messaging</a>
                    </li>
                </ul>
            </li>

            <li class="nav-item fs-5">
                <a data-toggle="collapse" aria-expanded="false"
                    (click)="isRecordHistoryCollapsed = !isRecordHistoryCollapsed" class="dropdown-toggle">
                    Record History</a>
                <ul [ngClass]="{'collapse ': isRecordHistoryCollapsed,
            'expanded': !isRecordHistoryCollapsed}" class="list-unstyled components ps-4 mb-2 mb-lg-0 fs-6">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/regulatory-actions']">Regulatory Actions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/tracking']">Tracking</a>
                    </li>
                </ul>

            </li>
            <li class="nav-item fs-5">
                <a class="nav-link" [routerLink]="['/directory']">Directory</a>
            </li>

            <li class="nav-item fs-5">
                <a data-toggle="collapse" aria-expanded="false" (click)="isReferencesCollapsed = !isReferencesCollapsed"
                    class="dropdown-toggle">
                    References</a>
                <ul [ngClass]="{'collapse ': isReferencesCollapsed,
              'expanded': !isReferencesCollapsed}" class="list-unstyled components ps-4 mb-2 mb-lg-0 fs-6">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/policies']">Policies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/guides']">Guides</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/training-curriculum']">Training Curriculum</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/facility-diagrams']">Facility Diagrams</a>
                    </li>
                </ul>
            </li>


            <li class="nav-item fs-5">
                <a class="nav-link" [routerLink]="['/permissions']">Permissions</a>
            </li>
        </ul>


    </div>
</div>