<table class="help-popover">
    <tbody>
        <tr>
            <td colspan="2">
                Sr. Environmental Specialist
            </td>
        </tr>
        <tr>
            <td colspan="2">
                DFW-SV8
            </td>
        </tr>
        <tr>
            <td class="col-sm-2">
                <i class="bi bi-gear help-icon"></i>
            </td>
            <td>
                <a href="#">Settings</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="bi bi-box-arrow-up-right help-icon"></i>
            </td>
            <td>
                <a href="#">Chain of Command</a>
            </td>
        </tr>
        <tr>
            <td>
                <i class="bi bi-box-arrow-right help-icon"></i>
            </td>
            <td>
                <a href="#">Sign Out</a>
            </td>
        </tr>
    </tbody>
</table>